/* курсив не импортировал */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@300;400;500;700&display=swap');

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #181818;
}

body {
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
}

p {
    margin: 0;
}

.contaner {
    /* background-color заменю на норм цвет пока просто чтобы лучше видеть*/
    background-color: #181818;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
}

.head {
    display: flex;
    width: 100%;
    height: 6%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: #282828;
    box-shadow: 0.2em 0.3em 0.8em 0.1em #1d1d1d7e;
    margin-bottom: 0.4em;
    justify-content: flex-end;

}

.select_language {
    background-color: transparent;
    margin-right: 2.5em;
    display: flex;
    align-items: center;
}

.language_text {
    margin-left: 2.5em;
    color: white;
    cursor: pointer;
}

.element_contener {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

._h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    /*
    background-color: #282828;
    box-shadow: 2px 5px 8px 2px #1f1f1f;
    */
    height: 10%;
    color: white;
    width: 100%;
    padding: 1em;
}

.table {
    justify-content: center;
    background-color: #282828ab;
    margin-bottom: 2.5em;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.table_head {
    height: 8%;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
}

.change_speed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 30%;
    margin: 0.8em;
}

.slider {
    --sliderSize: 15px;
    -webkit-appearance: none;
    width: 100%;
    height: 33%;
    border-radius: 0.3em;
    background: #44424246;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--sliderSize);
    height: var(--sliderSize);
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 2.5em;
    height: 2.5em;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.slider_info {
    margin-right: 1em;
}

.delete_btn {
    display: flex;
    align-items: center;
    background-color: #3634346e;
    padding: 0.3em;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.3em 0.8em 0.1em #1d1d1d7e;
    margin-right: 0.1em;
    cursor: pointer;
}

.fill_btn {
    display: flex;
    align-items: center;
    background-color: #3634346e;
    padding: 0.3em;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.3em 0.8em 0.1em #1d1d1d7e;
    margin-left: 0.4em;
    cursor: pointer;
}

.delete {
    cursor: pointer;
}

.fill {
    cursor: pointer;
}

.run {
    cursor: pointer;
}

.run_btn {
    position: relative;
    display: flex;
    align-items: center;
    /* сделать зеленым */
    background-color: #3634346e;
    padding: 0.3em;
    border-radius: 0.5em;
    box-shadow: 0.2em 0.3em 0.8em 0.1em #1d1d1d7e;
    margin-right: 0.1em;
    cursor: pointer;
}

.icon {
    --iconMargin: 0.3em;
    height: 13.6px;
    margin-right: var(--iconMargin);
}

.cell_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.cell {
    background-color: #222222;
    box-shadow: 0 0 0.1em #000000;
    transition: all 0.15s linear;
}

.code {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #282828ab;
    margin-bottom: 4em;
    border-radius: 1em;
    color: white;
}

.code_header {
    width: 100%;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 0.8em;
}

.rules {
    background-color: #1f1f1fb5;
    border-radius: 1.5em;
}
/*
    background-color: #282828;
    background-color: #36343471;
    background-color: #363434be;
    background-color: #3e3c3c9c;

.sel_color {
    --size: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: var(--size);
    height: var(--size);
    border: none;
    cursor: pointer;
}

.sel_color::-webkit-color-swatch {
    border-radius: 50%;
    border: transparent;
}

.sel_color::-moz-color-swatch {
    border-radius: 50%;
    border: transparent;
}
*/
.condition_container {
    background-color: #3634346e;
    border-radius: 0.5em;
    margin-left: 0.8em;
    margin-right: 0.8em;
}
.condition {
    display: flex;
    align-items: center;
    padding: 1em;
    margin-top: 0.3em;
    background-color: #36343447;
    border-radius: 0.5em;
    transition: all 0.1s linear;
}

.rule_condition {
    display: flex;
    margin: 0.33em;
    border: none;
    background-color: transparent;
    color: white;
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
    outline: none;
    flex-grow: 1;
}

.rule_condition :focus {
    border: none;
}

.sliders {
    padding: 0.1em;
    background-color: #3634346e;
    border-radius: 0.5em;
    margin-left: 0.8em;
    margin-right: 0.8em;
    margin-bottom: 0.5em;
}
/*
@media (min-width: 768px){
    .select_language {
        font-size: 28.38px;
    }
}*/