/* курсив не импортировал */
@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&family=Ubuntu:wght@300;400;500;700&display=swap');

body,
html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    background-color: #181818;
}

body {
    font-family: 'Ubuntu', 'Roboto', Arial, Helvetica, sans-serif;
}

.contaner {
    /* background-color заменю на норм цвет пока просто чтобы лучше видеть*/
    background-color: #181818;
    display: block;
    width: 100%;
    height: 100%;
    padding: 0;
}

.head {
    display: flex;
    width: 100%;
    height: 6%;
    margin-left: 0;
    margin-right: 0;
    padding-left: 0;
    padding-right: 0;
    background-color: #282828;
    box-shadow: 2px 5px 8px 2px #1f1f1f;
    margin-bottom: 10px;
    justify-content: flex-end;

}

.select_language {
    background-color: transparent;
    margin-right: 45px;
    display: flex;
    align-items: center;
}

.language_text {
    margin-left: 45px;
    color: white;
    cursor: pointer;
}

.element_contener {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
    height: 94;
}

._h1 {
    justify-content: center;
    align-items: center;
    display: flex;
    /*
    background-color: #282828;
    box-shadow: 2px 5px 8px 2px #1f1f1f;
    */
    height: 10%;
    color: white;
    width: 100%;
    border-radius: 15px;
    padding: 20px;
}

.table {
    justify-content: center;
    background-color: #282828ab;
    margin-bottom: 40px;
    border-radius: 10px;
    display: flex;
    flex-wrap: wrap;
}

.table_head {
    height: 8%;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
}

.change_speed {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    margin: 10px;
}

.slider {
    --sliderSize: 15px;
    -webkit-appearance: none;
    width: 100%;
    height: 33%;
    border-radius: 5px;
    background: #44424246;
    outline: none;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;

}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: var(--sliderSize);
    height: var(--sliderSize);
    border-radius: 50%;
    background: rgb(255, 255, 255);
    cursor: pointer;
}

.slider::-moz-range-thumb {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background: white;
    cursor: pointer;
}

.slider_info {
    margin-right: 10px;
}

.delete_btn {
    display: flex;
    align-items: center;
    background-color: #3634346e;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 2px 5px 8px 2px #1d1d1d7e;
    margin-right: 10px;
}

.fill_btn {
    display: flex;
    align-items: center;
    background-color: #3634346e;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 2px 5px 8px 2px #1d1d1d7e;
    margin-right: 10px;
}

.run_btn {
    position: relative;
    display: flex;
    align-items: center;
    /* сделать зеленым */
    background-color: #3634346e;
    padding: 3px;
    border-radius: 5px;
    box-shadow: 2px 5px 8px 2px #1d1d1d7e;
    margin-right: 10px;
}

.add_btn {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3634346e;
    border-radius: 5px;
    box-shadow: 2px 5px 8px 2px #1d1d1d7e;
}

.icon {
    --iconMargin: 4px;
    height: 17px;
    margin-right: var(--iconMargin);
}

.cell_container {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
    align-content: center;
}

.cell {
    /*height: 30px;
    width: 30px; */
    background-color: #222;
    box-shadow: 0 0 2px #000;
}

.code {
    justify-content: center;
    display: flex;
    flex-wrap: wrap;
    background-color: #282828ab;
    margin-bottom: 40px;
    border-radius: 10px;
    color: white;
}

.code_header {
    width: 100%;
    background-color: transparent;
    color: white;
    display: flex;
    align-items: center;
    margin-left: 10px;
}

.rules {
    background-color: #1f1f1fb5;
    border-radius: 15px;
}

.color_heading_container {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
    border-bottom: 4px solid #282828ab;
}

.colors {
    align-items: center;
    display: flex;
    flex-wrap: wrap;
}

.col_elem {
    display: flex;
    align-items: center;
    background-color: #282828;
    margin: 5px;
    padding-right: 5px;
    border-radius: 10px;
}

.sel_color {
    --size: 40px;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: transparent;
    width: var(--size);
    height: var(--size);
    border: none;
    cursor: pointer;
}

.sel_color::-webkit-color-swatch {
    border-radius: 50%;
    border: transparent;
}

.sel_color::-moz-color-swatch {
    border-radius: 50%;
    border: transparent;
}

.add_btn {
    background-image: 'update.svg';
}

/*@media (min-width: 768px){
    .select_language {
        font-size: 28.38px;
    }
}*/